* {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
.header{
    background-image: url('images/header_bg.png'),url('images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

/* mav */
nav {
  display: flex;
  justify-content: space-between;
  padding: 50px 200px;
  text-align: center;
}
nav ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  padding: 0px 10px;
}
nav .logo-color {
  color: red;
}
nav .logo{
  font-size: 2.5em;
}
.btn {
  width: 100px;
  height: 64px;
  background: #fd6e0a;
  border-radius: 5px;
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
  padding: 5px 10px;
}

/* banner */

.banner {
  display: flex;
  margin-left: 200px;
  align-items: center;
  justify-content: space-between;
}
.welcome {
  font-weight: 600;
  font-size: 45px;
}
 .name-tittle {
  font-weight: 700;
  font-size: 85px;
  margin-top: 5px;
}
.banner p {
  font-weight: 400;
  font-size: 18px;
  color: #757575;
}
.btn-cv {
    width: 200px;
    height: 64px;
    background: #fd6e0a;
    border-radius: 5px;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: #ffffff;
    padding: 10px 17px;
    margin-top: 10px;
  }
  .btn-cn {
    width: 150px;
    height: 64px;
    background-color: transparent;
    border-radius: 5px;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: red;
    padding: 10px 10px;
    margin-left: 10px;
    margin-top: 10px;
  }
